
<div ng-if="$ctrl.state==='cart'">
  <div>This is the {{$ctrl.state}} view.</div>
  <button ui-sref="login">login</button>
</div>

<div ng-if="$ctrl.state==='login'">
  <div>This is the {{$ctrl.state}} view.</div>
  <button ui-sref="payment">payment</button>
</div>

<div ng-if="$ctrl.state==='payment'">
  <div>This is the {{$ctrl.state}} view.</div>
  <button ui-sref="confirmation">confirm</button>
</div>

<div ng-if="$ctrl.state==='confirmation'">
  <div>This is the {{$ctrl.state}} view.</div>
  <button ui-sref="main">go back to main</button>
</div>
